html
  head
    title Part Time Job Portal
    block scripts
    block style
  Body
header.navbar
  #left
    nav#div1.navigation
      ul.container
        li#element1.element
          a(href='/') home
        li#element2.element
          a(href='about') about us
        li#element3.element
          a(href='contact') contact us
        li#element4.element
          a(href='blog') blog
        li#element5.element
          a(href='login') login
  div
  #right
    input.navright(type='text' name='search' placeholder='search')

block content
block footer
    #footer
        | Copyright 2023 Online Job Portal | All Rights Reserved