doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title front page 2nd
  link(rel='stylesheet' href='../static/style.css')
header.navbar
  #left
    nav#div1.navigation
      ul.container
        li#element1.element
          a(href='home.html') home
        li#element2.element
          a(href='about.html') about us
        li#element3.element
          a(href='contact.html') contact us
        li#element4.element
          a(href='blog.html') blog
        li#element5.element
          a(href='login.html') login
  div
  #right
    input.navright(type='text' name='search' placeholder='search')
p
h1 welcome to online job portal
p
.main
  #anim(style='text-align: center;') All new
  #content
    // <h1 style="color: rgb(255, 255, 255);">here are the complete information about us</h1>
